<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    {{{body}}}
</body>
<script>
    function change() {
        var x = document.getElementById('select1').value;
        if (x === 'branches') {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('demo').innerHTML = this.responseText;
                }
            };
            xhr.open('GET', '/branches', true);
            xhr.send();
        }
        else if (x === 'agents') {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('demo').innerHTML = this.responseText;
                }
            };
            xhr.open('GET', '/agents', true);
            xhr.send();
        }
        else {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('demo').innerHTML = this.responseText;
                }
            };
            xhr.open('GET', '/customers', true);
            xhr.send();
        }
    }
</script>

</html>