<select id = 'select1' onchange="change()">
    <option value="branches">Branches</option>
    <option value="agents">Managers</option>
    <option value="customers">Customers</option>
</select>

<p id = 'demo'></p>

