<form>
  <div class="form-group">
    <label for="Username">Username:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="Password">Password:</label>
    <input type="password" class="form-control"  placeholder="Password">
  </div>
  <div class="form-group">
    <label for="UserRole">UserRole:</label>
    <input type="text" class="form-control"  placeholder="UserRole">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>